<span><h2>Click here if you want to check the orders as a <%= link_to "buyer", orders_buyer_path %></h2></span>
<span><h2>Click here if you want to check the orders as a <%= link_to "seller", orders_seller_path %></h2></span>