<div class="d-flex flex-column align-items-center justify-content-center">
    <h2><%= link_to "Track Orders", orders_buyer_path %></h2>
    <h2><%= link_to "Track Sellings", orders_seller_path %></h2>
</div>
